*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
#ball{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    background-color: cadetblue;
}