*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#speedControllerBox{
    height: 25rem;
    width: 3rem;
    border-radius: 25px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: -25rem;
    left: 5rem;
}
#speedController{
    height: 25rem;
    width: 3rem;
    border-radius: 25px;
}
